@font-face {
    font-family:"anton";
    src: url(../fonts/Anton/Anton-Regular.ttf) format(truetype);
    font-weight: 400;
    }
@font-face {
    font-family: "monse";
    src: url(../fonts/Montserrat/static/Montserrat-Black.ttf) format(truetype);
    font-weight: 900;
}